language: python
dist: xenial
env:
  global:
    - LD_PRELOAD=/lib/x86_64-linux-gnu/libSegFault.so
    - SEGFAULT_SIGNALS=all
matrix:
  include:
    - python: '3.6'
      env:
        - TOXENV=check
    - python: '3.6'
      env:
        - TOXENV=docs
{%- for env in tox_environments %}{{ '' }}
{% if env.startswith("pypy3") %}
    - python: 'pypy3.5-6.0'
{% elif env.startswith("pypy") %}
    - python: 'pypy2.7-6.0'
{% else %}
    - python: '{{ "{0[2]}.{0[3]}".format(env) }}'
{% endif %}
      env:
        - TOXENV={{ env }}{% if 'cover' in env %},report,extension-coveralls,coveralls,codecov{% endif -%}
{%- if "pypy" not in env and "nocov" in env %}{{ '' }}
        - WHEEL_MANYLINUX1=cp{{ env.split("-")[0][2:] }}
        - WHEEL_PATH=wheelhouse
{%- endif %}
{%- if "py37" in env %}{{ '' }}
      dist: xenial
{%- endif %}
{%- if "py37" in env or "py27" in env %}{{ '' }}
    - os: osx
      language: generic
      cache:
        directories:
          - $HOME/Library/Caches/Homebrew
          - $HOME/Library/Caches/pip
      env:
        - TOXENV={{ env }}
{%- if "nocov" in env %}{{ '' }}
        - WHEEL_PATH=.tox/dist
{%- endif %}
{%- endif %}
{%- endfor %}{{ '' }}
before_install:
  - python --version
  - uname -a
  - lsb_release -a || true
  - |
    if [[ $TRAVIS_OS_NAME == 'osx' ]]; then
      [[ $TOXENV =~ py3 ]] && brew upgrade python
      [[ $TOXENV =~ py2 ]] && brew install python@2
      export PATH="/usr/local/opt/python/libexec/bin:${PATH}"
    fi
install:
  - pip install twine tox-wheel
  - virtualenv --version
  - easy_install --version
  - pip --version
  - tox --version
script:
  - |
    (
    set -eux
    if [[ -n ${WHEEL_MANYLINUX1:-} ]]; then
      docker run --rm --user $UID -itv $(pwd):/code ionelmc/manylinux $WHEEL_MANYLINUX1
      tox --installpkg $WHEEL_PATH/*.whl -v
    else
      tox -v
    fi
    if [[ -n ${WHEEL_PATH:-} ]]; then
      twine upload --repository-url https://test.pypi.org/legacy/ --skip-existing $WHEEL_PATH/*.whl
    fi
    )
after_failure:
  - more .tox/log/* | cat
  - more .tox/*/log/* | cat
notifications:
  email:
    on_success: never
    on_failure: always
